<option value="#ff0000"><%=l('Red')%></option>
<%if (game == 'aw') { %>
	<option value="#70c5ea"><%=l('Cyan')%></option>
<% } else if (game == 'squad') { %>
	<option value="#16a9dd"><%=l('Blue')%></option>
<% } %>
<option value="#00ff00"><%=l('Green')%></option>
<option value="#3399ff"><%=l('Blue')%></option>
<option value="#ffffff"><%=l('White')%></option>
<option value="#ffff00"><%=l('Yellow')%></option>
<option value="#ff00ff"><%=l('Fuchsia')%></option>
<option value="#ff8c00"><%=l('Orange')%></option>
<option value="#996633"><%=l('Brown')%></option>
<option value="#6600ff"><%=l('Dark Blue')%></option>
<option value="#00cc99"><%=l('Turquoise')%></option>

