<!DOCTYPE HTML>
<html lang="<%=locale%>">
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="A tool for <%=game.toUpperCase()%> to plan cw's, team battles or explore, share and discuss maps or map strategies with your friends, team, platoon or clan.">
</head>
<body style="overflow:scroll;">
	<% include navbar.ejs %>
	<script>
		document.getElementById('home').className += " active";
	</script>
	<style>
		#banner {
			background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%=static_host%>/banners/banner_mwo.jpg'); 
			background-size: cover, cover;
		}
	</style>

	<div class="container" style='width:100%;'>
		<div class="" style="padding-left:0px; padding-right:0px;">
			<div id="banner" class="call_to_action" style='width:100%; background-color:#888ecb'>
				<div class="container" id="big_button_frame" style="text-align:center;">
					<h1>
					Mech Warrior: Online - Tactics
					</h1>
					<div id="quote"></div><br />
					<p><a class="btn btn-primary btn-lg new_room" href="<%=game%>2" role="button"><%= l('Create new room') %> &raquo;</a>
					<br /><%=l('Or')%><br />
					<a class="btn btn-primary new_room" href="<%=game%>3" role="button"><%=l('Video replay room')%> &raquo;</a>
					<br /><br />
					<a href="<%=game%>1" class="new_room" role="button" style="color:#ADD8E6">(<%= l('Use original ui')%>)</a><br /></p>
					<script type="text/javascript">
						//generate unique id
						var valid_chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"; //needs to be 64 chars
						function newUid() {
							var text = "";
							for(var i=0; i < 14; i++ ) {
								text += valid_chars.charAt(Math.floor(Math.random() * valid_chars.length));
							}
							return text;
						}
						var els = document.getElementsByClassName('new_room');
						for (var i = 0; i < els.length; i++) {
							els[i].addEventListener("click", function(e) {
								e.preventDefault();
								window.location = this.getAttribute('href') + '?room=' + newUid();
							})
						}
					</script>
				</div>
			</div>

			<div style="padding-left:20px; padding-right:20px;">
				<div class="row">
					<div class="col-md-4">
						<h2>What is mwotactics&#63;</h2>
						<p>mwotactics is an interactive map tactic planning tool for <a href="http://mwomercs.com">MechWarrior Online</a>. It is based on <a href="https://github.com/karellodewijk/wottactics">wottactics</a> by kalith.
						
						<p><h4><b>So how does it work?</b></h4>
						
						<p>Press the blue button. Then select a <%=game%> map and use the tools on the right to start planning your strategy. You can invite others by sending them the link. 

						<p><h4><b>Who is behind this?</b></h4>
						<p>This website is maintained by <a href="mailto:mwo@redimp.de">Red Imp</a>. The map graphics are copyright to MechWarrior Online (c) 2012-2019 Piranha Games Inc. The maps are made by Neteye, with the help of Camron Lyraus, Sanjue and daidachi.</p>
						<p>To set up an updated tool for the MWO Comp community was an idea by Live1991.
					</div>
					<div class="col-md-4">
						<h2>Your input matters!</h2>
						<h4><b>I found a bug!</b></h4>
						<p>Please file bugs in the github repository <a href="https://github.com/redimp/mwotactics/issues">https://github.com/redimp/mwotactics/issues</a>.
						<h4><b>A maps is missing or needs an update!</b></h4>
						<p>You can help to update a map: The best way is to drop in a lobby, with on mech in each lance (of different weightclasses for the ease of knowing which one is Alpha Bravo and Charlie), open battlegrid after dropping from the dropship and make a screenshot. Higher resolution/zoomed in = more precise maps, also counts for the objectives (you can zoom in the battlegrid).
						Then upload it somewhere (e.g. <a href="https://imgur.com/upload">imgur</a>, and tell us about it, either via <a href="mailto:mwo@redimp.de">mail</a> or in the <a href="https://discord.gg/6wxM5hC">MWO Comp Discord</a>.
					</div>	
					<div class="col-md-4">					
						<h2>MWO Comp</h2>
						<p>
						If you are interested in playing MWO competitively, you can find players, leagues and a support in the MWO Comp <a href="https://discord.gg/6wxM5hC">discord channel</a>.
						</p>
						<p>
						<ul>
						<li><a href="https://www.mwocomp.com/">mwocomp.com</a></li>
						<li><a href="https://discord.gg/6wxM5hC">Discord Server</a></li>
						<li><a href="https://www.twitch.tv/mwoleagues">Twitch</a> and <a href="https://www.twitch.tv/mwoleagues2">2nd Twitch</a></li>
						<li><a href="https://www.youtube.com/channel/UCuRj16BDeEO7fJWa4Rx4ozQ">Youtube Channel</a></li>
						<li><a href="https://www.youtube.com/c/incomingmissilepodcast">Incoming Missile Podcast</a></li>
						<li><a href="https://www.facebook.com/MWOCOMP">Facebook</a></li>
						</ul>
						</p>
					</div>			
				</div>
			</div>
		</div>
	</div>
	
	<% include footer.ejs %>
	<% include index_js.ejs %>

</body>
