<option value=""> </option>
<!-- Updated Maps Feb 2019 -->
<!-- Lobby and Quickplay -->

<!-- Skeleton
<option data-grid="" data-size="5000x5000" value="/maps/MWO/"><%=l('')%></option>
-->

<option data-grid="GRID_-_Caustic_Valley_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_Caustic_Valley_20190217.png"><%=l('2019 Caustic Valley Conquest')%></option>

<option data-grid="GRID_-_Canyon_Network_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_Canyon_Network_20190217.png"><%=l('2019 Canyon Network Conquest')%></option>

<option data-grid="GRID_-_Solaris-City_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_Solaris-City_20190217.png"><%=l('2019 Solaris City Conquest')%></option>
<option data-grid="GRID_-_Solaris-City_20190217.png" data-size="5000x5000" value="/maps/MWO/DOMI_-_Solaris-City_20190217.png"><%=l('2019 Solaris City Domnination')%></option>

<option data-grid="GRID_-_Rubellite_Oasis_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_Rubellite_Oasis_20190217.png"><%=l('2019 Rubbelite Oasis Conquest')%></option>

<option data-grid="GRID_-_Mining_Collective_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_Mining_Collective_20190217.png"><%=l('2019 Mining Collective Conquest')%></option>

<option data-grid="GRID_-_Grim_Plexus_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_Grim_Plexus_20190217.png"><%=l('2019 Grim Plexus Conquest')%></option>

<option data-grid="GRID_-_HPG_Manifold_20190217.png" data-size="5000x5000" value="/maps/MWO/CONQ_-_HPG_Manifold_20190217.png"><%=l('2019 HPG Manifold')%></option>
