<option value=""> </option>
<!-- Updated Maps Feb 2019 -->
<!-- Lobby and Quickplay -->
<!-- Skeleton
<option data-grid="" data-size="1000x1000" value="/maps/MWO/"><%=l('')%></option>
-->
<option data-grid='GRID_-_Alpine_Peaks_20190222.png' data-size='6105x6105' value='/maps/MWO/CONQ_-_Alpine_Peaks_20190222.png'><%=l('Alpine Peaks - Conquest')%></option>
<option data-grid='GRID_-_Alpine_Peaks_20190222.png' data-size='6105x6105' value='/maps/MWO/DOMI_-_Alpine_Peaks_20190222.png'><%=l('Alpine Peaks - Domination')%></option>
<option data-grid='GRID_-_Canyon_Network_20190217.png' data-size='2728x2728' value='/maps/MWO/CONQ_-_Canyon_Network_20190217.png'><%=l('Canyon Network - Conquest')%></option>
<option data-grid='GRID_-_Canyon_Network_20190217.png' data-size='2728x2728' value='/maps/MWO/3CAP_CONQ_-_Canyon_Network_20190217.png'><%=l('Canyon Network - Conquest 3 Cap')%></option>
<option data-grid='GRID_-_Canyon_Network_20190222.png' data-size='2728x2728' value='/maps/MWO/DOMI_-_Canyon_Network_20190222.png'><%=l('Canyon Network - Domination')%></option>
<option data-grid='GRID_-_Caustic_Valley_20190222.png' data-size='3244x3244' value='/maps/MWO/CONQ_-_Caustic_Valley_20190222.png'><%=l('Caustic Valley - Conquest')%></option>
<option data-grid='GRID_-_Caustic_Valley_20190222.png' data-size='3244x3244' value='/maps/MWO/DOMI_-_Caustic_Valley_20190222.png'><%=l('Caustic Valley - Domination')%></option>
<option data-grid='GRID_-_Crimson_Strait_20190222.png' data-size='3503x3503' value='/maps/MWO/CONQ_-_Crimson_Strait_20190222.png'><%=l('Crimson Strait - Conquest')%></option>
<option data-grid='GRID_-_Crimson_Strait_20190222.png' data-size='3503x3503' value='/maps/MWO/DOMI_-_Crimson_Strait_20190222.png'><%=l('Crimson Strait - Domination')%></option>
<option data-grid='GRID_-_Forest_Colony_20190222.png' data-size='5574x5574' value='/maps/MWO/CONQ_-_Forest_Colony_20190222.png'><%=l('Forest Colony - Conquest')%></option>
<option data-grid='GRID_-_Forest_Colony_20190222.png' data-size='5574x5574' value='/maps/MWO/DOMI_-_Forest_Colony_20190222.png'><%=l('Forest Colony - Domination')%></option>
<option data-grid='GRID_-_Forest_Colony_Classic_20190417.png' data-size='2017x2017' value='/maps/MWO/CONQ_-_Forest_Colony_Classic_20190321.png'><%=l('Forest Colony Classic - Conquest')%></option>
<option data-grid='GRID_-_Forest_Colony_Classic_Snow_20190417.png' data-size='2266x2266' value='/maps/MWO/CONQ_-_Forest_Colony_Classic_Snow_20190321.png'><%=l('Forest Colony Classic Snow - Conquest')%></option>
<option data-grid="GRID_-_Frozen_City_Classic_Day_20190417.png" data-size="2929x2929" value="/maps/MWO/CONQ_-_Frozen_City_Classic_Day_20190320.png"><%=l('Frozen City Classic Day - Conquest')%></option>
<option data-grid="GRID_-_Frozen_City_Classic_Day_20190417.png" data-size="2929x2929" value="/maps/MWO/CONQ_-_Frozen_City_Classic_Night_20190321.png"><%=l('Frozen City Classic Night - Conquest')%></option>
<option data-grid='GRID_-_Frozen_City_20190222.png' data-size='4047x4047' value='/maps/MWO/CONQ_-_Frozen_City_20190222.png'><%=l('Frozen City - Conquest')%></option>
<option data-grid='GRID_-_Frozen_City_20190222.png' data-size='4047x4047' value='/maps/MWO/DOMI_-_Frozen_City_20190312.png'><%=l('Frozen City - Domination')%></option>
<option data-grid='GRID_-_Grim_Plexus_20190222.png' data-size='4516x4516' value='/maps/MWO/CONQ_-_Grim_Plexus_20190222.png'><%=l('Grim Plexus - Conquest')%></option>
<option data-grid='GRID_-_Grim_Plexus_20190222.png' data-size='4516x4516' value='/maps/MWO/3CAP_CONQ_-_Grim_Plexus_20190222.png'><%=l('Grim Plexus - Conquest 3 Cap')%></option>
<option data-grid='GRID_-_Grim_Plexus_20190222.png' data-size='4516x4516' value='/maps/MWO/DOMI_-_Grim_Plexus_20190222.png'><%=l('Grim Plexus - Domination')%></option>
<option data-grid='GRID_-_HPG_Manifold_20190222.png' data-size='3533x3533' value='/maps/MWO/CONQ_-_HPG_Manifold_20190222.png'><%=l('HPG Manifold - Conquest')%></option>
<option data-grid='GRID_-_HPG_Manifold_20190222.png' data-size='3533x3533' value='/maps/MWO/3CAP_CONQ_-_HPG_Manifold_20190222.png'><%=l('HPG Manifold - Conquest 3 Cap')%></option>
<option data-grid='GRID_-_HPG_Manifold_20190222.png' data-size='3533x3533' value='/maps/MWO/DOMI_-_HPG_Manifold_20190222.png'><%=l('HPG Manifold - Domination')%></option>
<option data-grid='GRID_-_Mining_Collective_20190222.png' data-size='3000x3000' value='/maps/MWO/CONQ_-_Mining_Collective_20190222.png'><%=l('Mining Collective - Conquest')%></option>
<option data-grid='GRID_-_Mining_Collective_20190222.png' data-size='3000x3000' value='/maps/MWO/3CAP_CONQ_-_Mining_Collective_20190222.png'><%=l('Mining Collective - Conquest 3 Cap')%></option>
<option data-grid='GRID_-_Mining_Collective_20190222.png' data-size='3000x3000' value='/maps/MWO/DOMI_-_Mining_Collective_20190222.png'><%=l('Mining Collective - Domination')%></option>
<option data-grid='GRID_-_Polar_Highlands_20190222.png' data-size='5656x5656' value='/maps/MWO/CONQ_-_Polar_Highlands_20190222.png'><%=l('Polar Highlands - Conquest')%></option>
<option data-grid='GRID_-_Polar_Highlands_20190222.png' data-size='5656x5656' value='/maps/MWO/DOMI_-_Polar_Highlands_20190222.png'><%=l('Polar Highlands - Domination')%></option>
<option data-grid='GRID_-_River_City_20190222.png' data-size='3793x3793' value='/maps/MWO/CONQ_-_River_City_20190222.png'><%=l('River City - Conquest')%></option>
<option data-grid='GRID_-_River_City_20190222.png' data-size='3793x3793' value='/maps/MWO/DOMI_-_River_City_20190222.png'><%=l('River City - Domination')%></option>
<option data-grid='GRID_-_Rubellite_Oasis_20190222.png' data-size='4065x4065' value='/maps/MWO/CONQ_-_Rubellite_Oasis_20190222.png'><%=l('Rubellite Oasis - Conquest')%></option>
<option data-grid='GRID_-_Rubellite_Oasis_20190222.png' data-size='4065x4065' value='/maps/MWO/DOMI_-_Rubellite_Oasis_20190222.png'><%=l('Rubellite Oasis - Domination')%></option>
<option data-grid='GRID_-_Solaris-City_20190217.png' data-size='3591x3591' value='/maps/MWO/CONQ_-_Solaris-City_20190217.png'><%=l('Solaris-City - Conquest')%></option>
<option data-grid='GRID_-_Solaris-City_20190217.png' data-size='3591x3591' value='/maps/MWO/3CAP_CONQ_-_Solaris-City_20190217.png'><%=l('Solaris-City - Conquest 3 Cap')%></option>
<option data-grid='GRID_-_Solaris-City_20190217.png' data-size='3591x3591' value='/maps/MWO/DOMI_-_Solaris-City_20190217.png'><%=l('Solaris-City - Domination')%></option>
<option data-grid='GRID_-_Terra_Therma_20190222.png' data-size='3717x3717' value='/maps/MWO/CONQ_-_Terra_Therma_20190222.png'><%=l('Terra Therma - Conquest')%></option>
<option data-grid='GRID_-_Terra_Therma_20190222.png' data-size='3717x3717' value='/maps/MWO/DOMI_-_Terra_Therma_20190222.png'><%=l('Terra Therma - Domination')%></option>
<option data-grid='GRID_-_Tourmaline_Desert_20190222.png' data-size='3491x3491' value='/maps/MWO/CONQ_-_Tourmaline_Desert_20190222.png'><%=l('Tourmaline Desert - Conquest')%></option>
<option data-grid='GRID_-_Tourmaline_Desert_20190222.png' data-size='3491x3491' value='/maps/MWO/DOMI_-_Tourmaline_Desert_20190222.png'><%=l('Tourmaline Desert - Domination')%></option>
<option data-grid='GRID_-_Viridian_Bog_20190222.png' data-size='3445x3445' value='/maps/MWO/CONQ_-_Viridian_Bog_20190222.png'><%=l('Viridian Bog - Conquest')%></option>
<option data-grid='GRID_-_Viridian_Bog_20190222.png' data-size='3445x3445' value='/maps/MWO/DOMI_-_Viridian_Bog_20190222.png'><%=l('Viridian Bog - Domination')%></option>
<option data-grid="" data-size="1000x1000" value="/maps/MWO/3CAP_CONQ_-_Solaris-City_20190217.png/"><%=l('')%></option>
<option data-grid="GRID_-_Hibernal_Rift_20190629.png" data-size="2668x2668" value="/maps/MWO/CONQ_-_Hibernal_Rift_20190629.png"><%=l('Hibernal Rift - Conquest')%></option>
<option data-grid="GRID_-_Hibernal_Rift_20190629.png" data-size="2668x2668" value="/maps/MWO/DOMI_-_Hibernal_Rift_20190629.png"><%=l('Hibernal Rift - Domination')%></option>
<option data-grid="GRID_-_Forest_Colony_Classic_Snow_20190417.png" data-size="2017x2017" value="/maps/MWO/SKIR_-_Forest_Colony_Classic_20190629.png"><%=l('Forest Colony Classic - Skirmish')%></option>
<option data-grid="GRID_-_Frozen_City_Classic_Day_20190417.png" data-size="2929x2929" value="/maps/MWO/SKIR_-_Frozen_City_Classic_Day_20190629.png"><%=l('Frozen City Classic - Skirmish')%></option>
<option data-grid="GRID_-_S7_Test_2_20190629.png" data-size="1000x1000" value="/maps/MWO/SKIR_-_S7_Test_2_20190629.png"><%=l('S7 Test 2 - Skirmish')%></option>
<option data-grid="GRID_-_S7_Test_1_20200914.png" data-size="1000x1000" value="/maps/MWO/SKIR_-_S7_Test_1_20200914.png"><%=l('S7 Test 1 - Skirmish')%></option>

