<%home = "/"+game%>

<nav class="navbar navbar-default navbar-inverse navbar-custom" style="border-radius: 0; font-size:120%;">
	<div id="main_navbar" class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-top:15px">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav nav-pills">
				<li id="home">
				<a href="<%=home%>">
				<h1>MWO Tactics</h1>
				</a>
				<li>		
			</ul>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav nav-pills">
			<% if (user.identity) { %>
				<li id="stored_tactics"><a href="/stored_tactics?game=<%=game%>"><h2><%=l('Stored tactics')%></h2></a></li>
			<% } %>
			<% if (game == 'wot') { %>
				<li id="stats"><a class="beta_button" href="/player/"><h2><%=l('Stats')%></h2></a></li>
			<% }%>
			<li id="getting_started"><a href="/getting_started"><h2><%=l('Getting started')%></h2></a></li>
		</ul>

				
		<ul class="nav navbar-nav navbar-right">
		</ul>
		</div>
	</div>
</nav>


